/* Generic */
body, textarea, label {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

h1 {
  text-align: center;  
}

.container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  padding-top: 10px;
}

.maxWidth{
  grid-column: 1/-1;
}

/* Page Content */
#plantform {
  background-color: #f2f2f2;
  margin: 10px auto;
  padding: 40px;
  width: 90%;
}

#googlemap {
  height: 300px;
  width: 90%;
  margin: 25px auto;
  vertical-align:middle;
  border: 1px solid #454545;
}

.fileDiv{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

.keepForm{
  display: grid;
  grid-template-columns: 1fr;
}

#name, #namelabel{
  display: none;
}

#files{
  display: none;
}

#foundPos {
  padding: 50px 0;
  padding-bottom: 0px;
  text-align: center;
}

#allPreview, #imgDiv {
  display: inline;
  margin-bottom: 40px;
}

#formSubmit {
  display: none;
}

/* Inputs */
input[type=text], input[type=email], input[type=file], input[type=tel], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
  resize: vertical;
}

input[type=file] {
  border: 0px solid #ccc;
  resize:none;
}

input:focus, textarea:focus, select:focus {
  outline: 3px solid purple;
}

/* Buttons */
button {
  background-color: #005b88;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  margin: 2px;
}

button:hover {
  opacity: 0.8;
}

.mapButton:hover {
  background-color: #909090;
  cursor: pointer;
}

.userBtn{
  margin-top: 15px;
  width: 140px;
  height: 50px;
  padding: 10px;
  justify-self: center;
  background-color: rgb(113, 113, 113);
  border-radius: 10px;
  border: 2px solid rgb(61, 61, 61);
  display: block;
  margin: 5px;
  justify-self: center;
}

#myLocationButton{
  margin: auto;
}

#picBtn{
  display: none;
}

/* Tabs */
.tab, .tabFinish {
  display: none;
  grid-template-columns: 3fr 2fr;
  column-gap: 20px;
  row-gap: 20px;
}

/* Circle step */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #6851ff;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.3;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #6851ff;
}

.navButton {
  display: flex;
  flex-direction: row;
  justify-self: center;
}

.navCircle{
  text-align:center;
  margin-top:40px;
}

.invalid {
  background-color: #ffdddd;
}

#prevBtn {
  background-color: #005b8875;
}


/* Responsive layout for when the size of the page goes lower than 700px. 
Mainly to adapt for phone screens */
@media (max-width: 700px) {

  .container{
    padding: 5px;
  }

  .tab, .tabFinish {
    display: none;
    grid-template-columns: 1fr;
  }

  #plantform {
    padding: 30px;
    width: 95%;
  }
  
  .userBtn{
    width: 90%;
    min-width: fit-content;
    white-space: nowrap;
  }

  #googlemap{
    width: inherit;
    height: 300px;
  }

  #foundPos {
    padding: 0px 0;
  }

  .fileDiv{
    grid-template-columns: 1fr 1fr;
  }

  #picBtn{
    display: block;
  }

  #myLocationButton{
    margin-bottom: 20px;
  }
}