{{define "content"}}

<head>
  <link rel="stylesheet" type="text/css" href="/static/admincss/dashboard.css"/>
</head>   

<div class="container">
  
  <form action="/addtolist" method="post" id="addform">
    <div>
      <label>Skriv inn navn på ny plante:
        <input type="text" name="name" required>
      </label>
    </div> 
    <button type="submit" form="addform">Legg til</button>
  </form>

  <p>-------------------------------------------------------------------</p>
  <form action="/removefromlist" method="post" id="removeform">
    <div>
      <label for="listname">Plante</label>
      <select id="listname" name="name" required>
        <option value="">-Velg plante-</option>
        {{range $elem := .}}
        <option value="{{$elem}}">{{$elem}}</option>
        {{end}}
      </select>
    </div> 
    <button type="submit" form="removeform">Fjern plante</button>
  </form>
  
  <p>-----------------------------------------------------------</p>


  {{range $elem := .}}
    <p>{{$elem}}</p>
  {{end}}

<script type="text/javascript" src="/static/adminjs/dashboard.js"></script>   

{{end}}
