{{define "content"}}

<head>
    <link rel="stylesheet" type="text/css" href="/static/admincss/publicmap.css"/>
</head>   

<div class="container">

    <!--Adds coordinates for displaying markers-->
    {{range $elem := .List}}
    <p class="coord" style="display:none;" onclick="placeMarker('{{$elem.Status}}', '{{$elem.Lat}}', '{{$elem.Lng}}', '{{$elem.Listname}}', '{{$elem.StringDate}}')"></p>
    {{end}}
    
    <div id="googlemap">Google maps klarte ikke å laste inn, oppdater siden og prøv igjen</div>

</div>
    
  
<script async
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9_42zbLHemWXqG25J-z976lem9seZO58&callback=initMap">
</script>
<script type="text/javascript" src="/static/adminjs/publicmap.js"></script>  

{{end}}