{{define "content"}}

<head>
    <link rel="stylesheet" type="text/css" href="/static/admincss/singleinquiry.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
</head>   


<div class="container">
  <div id="showInquiry">
  <div class="inquiryContainer">
    <a id="backBtn" class="maxWidth" href="/henvendelser">⮌ Henvendelser</a>
    <div>
      <form action="/editinquiry" method="post" id="formEdit">
        {{range $elem := .Single}} 
        <div class="listInquiries">
          <!--🔒 🌐-->
          {{if $elem.Private}}
          <h2 id="plantName">{{$elem.Listname}}</h2> 
          {{else}}
          <h2 id="plantName">{{$elem.Listname}}</h2>
          {{end}}
          <input id="plantNameInp" type="text" name="listname" type="text" class="hiddenInp" required>
          <div>
            <button id="editBtn" type="button" onclick="editInquiry()">Rediger ✎</button>
            <button id="saveBtn" class="hiddenInp" type="submit" form="formEdit">💾 Lagre</button>
          </div>
          <p class="breakWord maxWidth" id="plantDesc">
            {{$elem.Desc}}
          </p>
          <textarea class="hiddenInp" id="plantDescInp" name="desc" style="height: 120px;"></textarea>
          
          <p id="lat" style="display:none;">{{$elem.Lat}}</p>
          <p id="lng" style="display:none;">{{$elem.Lng}}</p>
          <p id="listname" style="display:none;">{{$elem.Listname}}</p>
          <p id="status" style="display:none;">{{$elem.Status}}</p>
          <p id="inquiryId" style="display:none;">{{$elem.Id}}</p>

          {{if not $elem.ImgNames}} 
          <h3 class="maxWidth">Ingen bilder</h3>
          {{else}} 
          <h3 class="maxWidth">Bilder:</h3>
          {{end}}
          <div class="displayImg maxWidth">
            {{range $imgelem := .ImgNames}} 
            <img src="{{$imgelem}}" class="showImg">
            {{end}}
            {{end}}
          </div>
        </div>
      </form>
      <div>
        {{range $elem := .Single}} 
        {{if eq $elem.Status "new"}} 
        <button id="approveBtn" onclick="approveInquiry()">Godkjenn</button>
        {{else if eq $elem.Status "approved"}}
        <button id="processBtn" onclick="processInquiry()">Begynn bekjempning</button>
        {{else if eq $elem.Status "processing"}}
        <button id="combatedBtn" onclick="combatedInquiry()">Ferdig bekjempet</button>
        {{end}}
        {{if ne $elem.Status "deleted"}} 
        <button id="deleteBtn" onclick="deleteInquiry()">Slett</button>
        {{else}}
        <button id="recoverBtn" onclick="recoverInquiry()">Gjenopprett</button>
        {{end}}
        {{if $elem.Private}}
        <button id="privateBtn" class="privateBtn" onclick="setPrivacy('public')">Sett til offentlig 🌐</button>
        {{else}}
        <button id="privateBtn" class="privateBtn" onclick="setPrivacy('private')">Sett til privat 🔒</button>
        {{end}}
        {{end}}
      </div>
    </div>
    <div>
      <div id="googlemap">Google maps lastet ikke inn ordentlig, oppdater siden</div>  
      <button id="fullmapBtn" onclick="fullMapInquiry()">Vis på fullt kart</button>
    </div>
  </div>
  <div class="maxWidth commentDiv">
    <h3>Kommentarer {{range $elem := .Single}}({{len $elem.Comments}}){{end}}</h3>
    <form action="/addcomment" method="post" id="formComment">
      <textarea id="comment" name="comment" style="height: 120px;" placeholder="Legg til kommentar..." required></textarea>
      <button type="submit" id="commentBtn" form="formComment">Legg til</button>
    </form>
    {{range $elem := .Single}} 
    {{range $comelem := $elem.Comments}} 
    <div class="commentP">
      <p><h4>-Brukernavn-</h4>   <i>{{$comelem.StringDate}}</i></p>
      <p>{{$comelem.Comment}}</p>
    </div>
    {{end}}
    {{end}}
  </div>
  </div>
  <div id="showContact">
    <div id="pdf">
      {{range $elem := .Single}}
      <div class="pdfDesc">
        <h2>{{$elem.Listname}}</h2>
        <p>{{$elem.Desc}}</p>
      </div>
      <!--Uncomment for Google Maps API, but costs money per request -->
      <img id="urlMapPic" src="https://maps.googleapis.com/maps/api/staticmap?
      center={{$elem.Lat}},{{$elem.Lng}}
      &zoom=16&size=400x400
      &format=png
      &visual_refresh=true
      &markers=color:red%7C{{$elem.Lat}},{{$elem.Lng}}
      &key=AIzaSyC9_42zbLHemWXqG25J-z976lem9seZO58">
      <!--Placeholder img for testing-->
      <!-- <img src="aaaa" width="400px" height="400px"> -->
      <div>
        <label id="pdfLabel">
          Legg til kommentar:
          <textarea id="pdfComment"></textarea>
        </label>
        <label id="pdfLabelP">
          Kommentar:
          <p id="pdfCommentP"></p>
        </label>
      </div>
      <a href="http://www.google.com/maps/place/{{$elem.Lat}},{{$elem.Lng}}" target="_blank">Link til Google Maps</a>
      <h3 class="maxWidth">Bilder:</h3>
      <div id="pdfDisplayImg" class="maxWidth">
        {{range $imgelem := .ImgNames}} 
        <img src="{{$imgelem}}" class="pdfImg">
        {{end}}
      </div>
      {{end}} 

    </div>
    <button style="width: fit-content;" onclick="generatepdf()">Opprett PDF</button>
    
  </div>
</div>
  
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9_42zbLHemWXqG25J-z976lem9seZO58&callback=initMap">
</script>
<script type="text/javascript" src="/static/adminjs/singleinquiry.js"></script>  

{{end}}
